@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Barlow";
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.img-wd {
  display: block;
}
.img-mb {
  display: none;
}

.slogan {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 29px;
  margin-bottom: 8px;
  font-weight: 400;
}

.title-info {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 38px;
}

.content-info {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  color: #dedede;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(29, 29, 29, 0.1);
  backdrop-filter: blur(6px);
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 16px;
  z-index: 10;
}

.bg-menu {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.bg-menu.active {
  background: rgba(255, 255, 255, 0.25);
}

.img-menu {
  width: 24px;
  height: 16px;
}
.logo-mind_ventures {
  cursor: pointer;
  width: 124px;
}
header .list-page {
}

header .list-page li {
  position: relative;
  cursor: pointer;
}

header .list-page li a {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 17px;
  color: #ffffff;
  font-size: 14px;
  align-self: center;
}

header .list-page li img {
  position: absolute;
  bottom: 0px;
  display: none;
}

header .list-page li.activePage img {
  position: absolute;
  bottom: 0px;
  display: block;
}

header .list-page li:hover img {
  display: block;
}

/* header .list-page li:not(:first-child) {
    margin-left: 70px;
} */

.hd-right {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.hd-right .launch {
  line-height: 34px;
  width: 113px;
  text-align: center;
  border-radius: 4px;
  background: url(../images/bg_launch.png),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(139, 92, 228, 0.3) 100%
    );
}

.lg-choose {
  padding-left: 24px;
  display: inline-block;
  width: 42px;
  margin-bottom: 3px;
}
.icon-down {
  margin-left: 14px;
}

.language {
  position: relative;
}

.list-lang {
  background: #536cec;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  top: 25px;
  height: 0;
  cursor: pointer;
  transition: ease-in 0.2s;
  overflow: hidden;
  z-index: 400;
}

.list-lang.active {
  height: 54px;
  transition: ease-in 0.2s;
}

.list-lang.active li:hover {
  background-color: #462048;
  text-decoration: underline;
}

.list-lang li {
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

/* end header */
#banner {
  background: #140524;
  position: relative;
  overflow: hidden;
}
#banner img {
  object-fit: cover;
  width: 100%;
}

#social-media {
  height: 542px;
  background: #140524;
}

.social-inner {
  position: relative;
}

.img-social {
  position: absolute;
  top: -58px;
}

.social-info {
  color: #ffffff;
  width: 253px;
  position: absolute;
  right: 78px;
  top: 185px;
  z-index: 3;
}

.social-info p {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 29px;
  margin-bottom: 8px;
}

.social-info h2 {
  margin-bottom: 24px;
}

.social-link a:not(:first-child) {
  margin-left: 8px;
}

/* end social */
#about-us {
  height: 555px;
  background: #000017;
}

.about-us-inner {
  position: relative;
}

.image-group {
  position: absolute;
  right: 0;
  top: -32px;
}

.about-us-info {
  color: #ffffff;
  width: 312px;
  position: absolute;
  left: 50px;
  top: 222px;
  z-index: 2;
}

.about-us-info h2 {
  margin-bottom: 16px;
}
/* news */
#news {
  background: #000017;
  padding-bottom: 65px;
}
.news-title {
  color: #ffffff;
  padding-top: 56px;
}
.news-title h2 {
  line-height: 44px;
  margin-bottom: 0;
}

#news .list-item {
  grid-gap: 48px 32px;
  margin-top: 64px;
}

.new-item {
  max-width: 344px;
}

.new-item .item-image {
  margin-bottom: 24px;
  object-fit: cover;
}
.item-warp {
  max-width: 320px;
}

.new-item .featured {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(131, 80, 229, 1),
    rgba(80, 98, 229, 1)
  );
  color: transparent;
  -webkit-background-clip: text;
}

.item-title {
  color: #ffffff;
  line-height: 32px;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 8px;
}

.item-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  display: block;
  opacity: 0.6;
}

.see-all-border {
  width: 113px;
  height: 34px;
  margin-top: 50px;
  background: linear-gradient(180deg, #8350e5 100%, #5062e5 100%);
  padding: 1px;
  border-radius: 4px;
}

.see-all {
  background-color: #000017;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
}

/* our-games */

#our-games {
  color: #ffffff;
  background: url(../images/bg_game.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 73px;
}

.our-games-inner {
  display: grid;
  grid-template-columns: 1fr 323px;
  grid-gap: 90px;
}

#our-games .text-left {
  padding-left: 59px;
}

#our-games .slogan {
  margin-bottom: 0;
}

#our-games .title-info {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 36px;
}

.nav {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.nav img {
  width: 18px;
  height: 16px;
}

.list-game {
  grid-gap: 24px;
}

.btn-go-game {
  width: 112px !important;
  height: 32px;
  cursor: pointer;
}

.name-game {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 0;
}
/* css carousel */
.owl-nav {
  position: absolute;
  right: -206px;
  bottom: 43px;
  display: flex;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}
/* contact-us */
#contact-us {
  background-color: #000017;
  height: 673px;
  width: 100%;
  position: relative;
}

.contact-us-inner {
  position: relative;
}

.absolute {
  position: absolute;
}

#contact-us .bg-1 {
  top: 82px;
  right: 60px;
  background: url(../images/figure.png);
  background-size: cover;
  width: 798px;
  height: 449px;
}

.handle-game {
  bottom: -129px;
  left: 172px;
  z-index: 2;
}

.border-contact-us {
  width: 92%;
  height: 349px;
  top: 179px;
  left: 21px;
}

.border-contact-us img {
  width: 100%;
  height: 100%;
}

.elipse {
  top: -144px;
  left: -69px;
  width: 438px;
  height: 438px;
  background: radial-gradient(
    40.87% 40.87% at 50% 50%,
    #624ac2 0%,
    rgba(89, 28, 110, 0) 100%
  );
  z-index: 3;
}
.elipse-inner {
  color: #ffffff;
  top: 144px;
  left: 119px;
}

#contact-us .slogan {
  line-height: 23px;
  margin-bottom: 12px;
}

#contact-us .title-info {
  line-height: 46px;
  margin-bottom: 45px;
}

#contact-us .list-network {
  grid-gap: 24px;
}

#contact-us .list-network a {
  cursor: pointer;
}

/* footer */

footer {
  background: linear-gradient(180deg, #8350e5 0%, #5062e5 100%);
}

footer p {
  height: 56px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat";
}

/* test */
.clound {
  animation: smoke 28s infinite;
  display: inline-block;
  top: -251px;
  opacity: 0.3;
}
.clound.s2 {
  transform: translateX(-100vw);
  animation: smoke2 28s infinite;
  animation-delay: 14s;
}
@keyframes smoke {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
    filter: blur(50px);
  }
}

@keyframes smoke2 {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
    filter: blur(50px);
  }
}

/* end test */
@media only screen and (max-width: 1399px) {
  /* header .list-page li:not(:first-child) {
        margin-left: 40px;
    } */
  .img-hero {
    height: 856px;
  }
  .clound {
    top: -157px;
  }
  .social-info {
    right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  /* header .list-page li:not(:first-child) {
        margin-left: 20px;
    } */
  #social-media {
    height: 484px;
  }
  .social-info {
    top: 80px;
  }
  .about-us-info {
    left: 0;
    font-size: 16px;
    line-height: 29px;
  }
  .img-social {
    width: 60%;
  }
}

@media only screen and (max-width: 991px) {
  header {
    height: 72px;
    background: rgba(29, 29, 29, 0.8);
    backdrop-filter: blur(5px);
  }
  header .list-page {
    height: 0;
    position: absolute;
    width: 100vw;
    justify-content: center;
    left: 0;
    top: 72px;
    transition: all 0.3s ease 0s;
    flex-wrap: wrap;
    overflow: hidden;
    background: rgba(29, 29, 29, 0.8);
  }

  header .list-page.active li.activePage a {
    color: #ff86c2;
  }

  header .list-page.active {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }
  header .list-page.active {
    /* height: auto; */
    height: calc(100vh - 72px);
    transition: all 0.3s ease 0s;
    overflow-y: auto;
    padding: 0 20px 30px 20px;
    z-index: 100;
  }

  header .list-page li.activePage img {
    display: none;
  }
  header .list-page li:not(:first-child) {
    margin-left: 0;
  }

  header .list-page li:not(:last-child) {
    padding: 10px 0;
  }
  header .list-page li {
    width: 100%;
  }
  header .list-page li a {
    line-height: 22px;
    font-size: 16px;
    color: #bdbdbd;
  }

  .launch-mb {
    width: 100% !important;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, #8350e5 0%, #5062e5 100%);
    border-radius: 4px;
  }

  .clound {
    display: none;
  }
  .img-hero {
    height: 571px;
    margin-top: 72px;
  }
  /* social-media */
  #social-media {
    height: auto;
  }
  .img-social {
    width: 100%;
    position: unset;
  }
  .social-info {
    position: unset;
  }
  /* about-us */
  .about-us-info {
    position: unset;
    margin-top: 47px;
  }
  .image-group {
    width: 100%;
    position: unset;
  }
  #about-us {
    height: auto;
    background-color: #140524;
  }
  #about-us .content-info {
    text-align: center;
  }
  /* news */
  #news {
    background-color: #140524;
  }
  .new-item {
    max-width: unset;
    width: 325px;
  }
  .see-all {
    background-color: #140524;
  }
  /* our games */
  #our-games {
    padding-top: 75px;
  }

  #our-games .text-left {
    padding-left: 0;
  }
  #our-games .text-left {
    text-align: center;
  }
  /* contact-us */
  #contact-us .bg-1 {
    width: 100%;
    background-position: center;
    right: 0;
  }
  .handle-game {
    width: 67%;
    bottom: -115px;
  }
}

@media only screen and (max-width: 767px) {
  /* header */

  /* news */
  .new-item {
    max-width: unset;
    width: 100%;
  }
  .new-item .item-image {
    width: 100%;
  }
  .item-warp {
    max-width: unset;
  }
  /* contact-us */
  .handle-game {
    width: 67%;
    bottom: -84px;
  }
}

@media only screen and (max-width: 575px) {
  /* header */
  header .list-page.active {
    /* height: 209px;s */
  }
  header .list-page {
    justify-content: start;
  }
  header .list-page li {
    /* width: 50%; */
  }
  /* our games */
  #our-games {
    padding-bottom: 32px;
  }
  /* contact-us */
  .handle-game {
    width: 320px;
  }
  /* our-games */
  .game-item .image-game {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  /* contact-us */
  .handle-game {
    width: 320px;
    left: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .logo-mind_ventures {
    width: 104px;
  }

  .img-wd {
    display: none;
  }

  .img-mb {
    display: block;
  }

  .slogan {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  .title-info {
    font-size: 24px;
    line-height: 29px;
  }

  /* about-us */
  .about-us-info h2 {
    margin-bottom: 12px;
  }
  .about-us-info {
    margin-bottom: 24px;
  }
  #about-us .content-info {
    width: 269px;
  }
  /* news */
  #news {
    padding-bottom: 56px;
  }
  .news-title {
    padding-top: 50px;
  }
  .news-title h2 {
    line-height: 29px;
  }
  #news .list-item {
    margin-top: 40px;
    grid-gap: 32px;
  }
  .see-all-border {
    margin-top: 48px;
    height: 42px;
  }
  .see-all {
    line-height: 40px;
  }
  /* our-games */
  #our-games {
    padding-top: 32px;
  }
  .list-game {
    grid-gap: 16px;
  }
  #our-games .slogan {
    margin-bottom: 8px;
    line-height: 19px;
  }
  #our-games .title-info {
    line-height: 29px;
    font-size: 24px;
    margin-bottom: 32px;
  }
  /* contact-us */
  #contact-us {
    height: 624px;
  }

  #contact-us .slogan {
    margin-bottom: 4px;
  }

  #contact-us .title-info {
    line-height: 32px;
    width: 214px;
    margin-bottom: 40px;
  }

  #contact-us .bg-1 {
    height: 225px;
    top: 294px;
    left: -12px;
    width: 100vw;
  }
  .handle-game {
    width: 267px;
    left: 50px;
    bottom: -64px;
  }
  .border-ctu-mb {
    height: 447px !important;
  }
  .border-contact-us {
    top: 74px;
    width: 100%;
    left: 0;
  }
  .elipse {
    top: -159px;
    left: -117px;
  }
  .elipse-inner {
    left: 141px;
  }
}

@media only screen and (max-width: 333px) {
  .elipse {
    left: -130px;
  }
}
