.tran {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.list-page {
  display: flex;
  @include mw-991 {
    display: block;
  }
  li {
    position: relative;
    a {
      display: flex;
      padding: 0 30px;
      align-items: center;
      height: 64px;
      @include mw-991 {
        padding: 10px 0;
        height: auto;
      }
    }
    .sub-menu {
      position: absolute;
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      background: linear-gradient(180deg, rgba(131, 80, 229, 1), rgba(80, 98, 229, 1));
      left: 0px;
      top: 60px;
      @extend .tran;
      min-width: 100%;
      border-radius: 4px;
      @include mw-991 {
        display: block;
        position: initial;
        background: transparent;
        li {
          list-style: disc;
        }
      }
      li {
        cursor: pointer;
        display: block;
        white-space: nowrap;
        border-bottom: solid 1px rgba(252, 252, 252, 0.1);
        @include mw-991 {
          border: none;
          padding: 0;
        }
        &:last-child {
          border: none;
        }
        a {
          height: auto;
          padding: 10px;
          min-width: 100%;
          text-transform: initial;
          font-weight: 400;
        }
        &:hover {
          a {
            color: #000;
          }
        }
      }
    }
    &:hover {
      color: #f0f;
      .sub-menu {
        display: block;
      }
    }
  }
}
