@import "slick";
@import "slick-theme";
@import "mixins";
@import "custom";

html,
body {
  overflow-x: hidden;
}
.bg {
  background-color: #000017;
}
.bg-linear {
  background: linear-gradient(180deg, rgba(131, 80, 229, 0.25) 0%, rgba(80, 98, 229, 0.25) 100%);
  padding: 24px 16px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.color-1 {
  color: #5d5fef;
}
.news-detail {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
  position: relative;
  // min-height: 1000px;
  // height: 100vh;
  overflow: auto;
  &--left {
    width: 265px;
    height: 100vh;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include mw-1280 {
      width: 100%;
      position: initial;
    }
    .bg-linear {
      padding: 24px 0 24px 16px;
    }
    .table {
      height: 75vh;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 16px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: #e2e2e2;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #c2bebe;
      }
    }
  }
  &--center {
    width: 100%;
    height: 100vh;
    max-width: 645px;
    @include mw-1280 {
      max-width: 100%;
    }
    .color-1 {
      text-transform: uppercase;
    }
    .author {
      display: flex;
      justify-content: space-between;
      padding: 24px 0;
      align-items: center;
      flex-wrap: wrap;
      .name {
        display: flex;
        padding: 8px 0;
        flex-wrap: wrap;
        align-items: center;
        span {
          margin: 0 7px;
        }
      }
      .d-flex {
        padding: 8px 0;
        img {
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
    .content {
      p {
        color: rgba(255, 255, 255, 0.75);
      }
      padding-bottom: 40px;
      border-bottom: solid 1px rgba(233, 233, 242, 0.75);
    }
    .full-img {
      margin-bottom: 32px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &--right {
    width: 295px;
    @include mw-1280 {
      width: 100%;
    }
    .bg-linear {
      padding-right: 0px;
    }
    .hot {
      &__body {
        height: 450px;
        overflow: auto;
        padding: 20px 0;
        &::-webkit-scrollbar {
          width: 16px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #e2e2e2;
          border-radius: 20px;
          border: 6px solid transparent;
          background-clip: content-box;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #c2bebe;
        }
      }
      &--item {
        display: flex;
        text-decoration: none;
        padding: 10px 0;
        border-bottom: solid 1px rgba(233, 233, 242, 0.5);
        margin-bottom: 10px;
      }
      &__img {
        width: 100px;
        height: 56px;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__title {
        margin-left: 10px;
        width: calc(100% - 110px);
        h4 {
          margin: 0;
          color: #fff;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          font-size: 16px;
        }
        span {
          font-size: 14px;
          color: #b3b5b6;
        }
      }
    }
  }
  .card {
    background-color: transparent;
    border: none;
    &--title {
      color: #5d5fef;
      text-transform: uppercase;
      font-weight: 600;
    }
    &-header {
      color: #fff;
      border-bottom: 1px solid rgba(233, 233, 242, 0.7);
      padding: 0.5rem 0;
      font-size: 14px;
    }
    .btn {
      color: #fff;
      padding: 0.375rem 0;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &:focus {
        box-shadow: none;
      }
    }
    .collapsed {
      color: rgba(255, 255, 255, 0.7);
      img {
        transform: rotate(180deg);
      }
    }
    &-body {
      padding-left: 0;
      font-size: 14px;
      ul {
        padding-left: 20px;
        li {
          list-style: disc;
          margin-bottom: 10px;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  figure{
    img{
      width: 100%;
    }
  }
}
.search-tag {
  margin-top: 20px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    a {
      padding: 8px 16px;
      display: inline-block;
      border-radius: 5px;
      margin: 4px 8px 4px 0;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      border: solid 1px #fff;
      border-color: #8350e5;
    }
  }
}
blockquote {
  background: linear-gradient(180deg, #8350e5 0%, #5062e5 100%);
  border-radius: 8px;
  font-size: 16px;
  margin: 16px 0;
  padding: 40px 58px;
  @include mw-768 {
    padding: 20px;
  }
  p {
    color: #fff;
  }
}
.our-news {
  padding: 30px 0;
  .our {
    &--list {
      .slick-slide {
        margin: 0 8px;
      }
      .slick-arrow {
      }
      .slick-dots {
        display: none !important;
      }
    }
    &--title {
      background: linear-gradient(180deg, rgba(131, 80, 229, 1), rgba(80, 98, 229, 1));
      color: transparent;
      -webkit-background-clip: text;
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    &__img {
      max-height: 144px;
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--item {
      max-width: 205px;
      min-width: 200px;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      border-radius: 4px;
      &:hover {
        h5 {
        }
      }

      h5 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 16px;
        margin: 0;
        padding: 10px 0 0;
        font-weight: 400;
        line-height: 130%;
        color: #fff;
      }
      span {
        font-size: 14px;
        color: #b3b5b6;
      }
    }
  }
  .slick-arrow {
    top: -35px;
    width: 32px;
    height: 32px;
  }
  .slick-prev {
    left: auto;
    right: 50px;
  }
  .slick-next {
    right: 0px;
  }
}
.hero {
  height: 400px;
  //   background-image: url(../images/lists/Hero.png);
  //   // background: transparent url(../images/lists/Hero.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
    .content {
      padding-top: 150px;
      color: #fff;
      text-align: center;
      p {
        font-size: 32px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 48px;
        font-weight: 600;
      }
    }
  }
}
.lists {
  background: linear-gradient(180deg, #140524 50%, #000017 100%);
  color: #fff;
  .list-item {
    grid-gap: 48px 32px;
    margin-top: 32px;
    .new-item {
      .item-image {
        border-radius: 10px;
      }
      .owner {
        color: #ef5da8;
        font-size: 14px;
        margin-top: 8px;
        span {
          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
  .news-top {
    display: flex;
    margin: 0 auto;
    max-width: 1096px;
    flex-wrap: wrap;
    .item-img {
      width: 66.667%;
      overflow: hidden;
      @include mw-768 {
        width: 100%;
      }
      img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        @include mw-768 {
          height: 200px;
        }
      }
    }
    .item-warp {
      max-width: 33.33%;
      background: linear-gradient(180deg, rgba(131, 80, 229, 0.5) 0%, rgba(80, 98, 229, 0.5) 100%);
      padding: 16px;
      padding-left: 32px;
      @include mw-768 {
        width: 100%;
        max-width: 100%;
        padding: 16px;
      }
      .item-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }
      .owner {
        color: #ef5da8;
        font-size: 14px;
        margin-top: 8px;
        span {
          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
  }
}
.intro-video {
  background-color: #000017;
  background-image: url(../images/video.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 170px;
  padding-bottom: 100px;
  text-align: center;
  overflow: hidden;
  iframe {
    box-shadow: 0px 8px 56px 16px #d539ee;
    @include mw-650 {
      width: 80%;
      height: auto;
    }
  }
  img {
    width: 100%;
    max-width: 1200px;
  }
}
#social-media {
  padding-top: 140px;
  height: 680px;
}
#portfolio {
  background: #000017;
  padding: 40px 0;
  color: #ffffff;
  .title-portfolio {
    font-size: 36px;
    line-height: 18px;
    margin-bottom: 50px;
    font-weight: 700;
  }
  .container {
  }
  .row {
    justify-content: center;
    .col-md-2 {
      width: 20%;
      @include mw-920 {
        width: 30%;
      }
      @include mw-768 {
        width: 50%;
      }
    }
  }
}
.portfolio-item {
  background: linear-gradient(178.56deg, rgba(177, 198, 252, 0.04) 13.95%, rgba(255, 255, 255, 0.04) 79.95%);
  box-shadow: -22.3934px 105.249px 161.233px rgba(128, 125, 125, 0.16),
    inset 0px 4.47869px 15.6754px 6.71803px rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  height: 170px;
  width: 100%;
  margin: 15px 0;
  display: block;
  color: #fff;
  text-decoration: none;
  @include mw-768 {
    border-radius: 20px;
  }
}

.portfolio-inner {
  padding: 20px;
  background-image: url(../images/Logo/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 32px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mw-768 {
    border-radius: 20px;
    padding: 10px;
  }
}
.portfolio-inner span {
  color: #fff;
}
.portfolio-inner :hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.portfolio-inner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
  background-image: url(../images/Logo/bf.svg);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.portfolio-item img {
  height: 100%;
  width: 100%;
  max-height: 80px;
  object-fit: contain;
  // margin-bottom: 15px;
}

.game-item {
  flex: 1;
}

.game-item .image-game {
  height: 200px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 24px;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// .image-game.game-1 {
//   background: url(../images/axie.png);
//   background-position: center;
// }

// .image-game.game-2 {
//   background: url(../images/parallel.png);
//   background-position: center;
// }
// .image-game.game-3 {
//   background: url(../images/stepn.png);
//   background-position: center;
// }
